body, .index-header, .m-cf-fejlec, .blokk {
    background-color: #242424;
    color: white;
}

.m-cf-fejlec, .m-cf-fejlec_container, .m-cf-fejlec_container_links_item, .m-cf-fejlec_container_inda_actions, .m-cf-fejlec .fixed-header .icon {
    border-color: transparent !important;
}

article.kiharapott-cim.vezeto-anyag .cikkcim a, .normal-blokk article.kiharapott-cim.vezeto-anyag .cikkcim a {
    background-color: #242424;
    color: white;
    box-shadow: 16px 0 0 #242424, -16px 0 0 #242424;
}

article.kiharapott-cim.vezeto-anyag .cikkcim a:hover, .normal-blokk article.kiharapott-cim.vezeto-anyag .cikkcim a:hover {
    background-color: #242424;
    color: #f90;
    box-shadow: 16px 0 0 #242424, -16px 0 0 #242424;
}

.kiemelt-tetris .cikkcim a {
    box-shadow: 5px 0 0 #242424, -5px 0 0 #242424;
    background-color: #242424;
    color: white;
}

.kiemelt-tetris .cikkcim a:hover {
    box-shadow: 5px 0 0 #242424, -5px 0 0 #242424;
    background-color: #242424;
    color: #f90;
}

a {
	color: white;
}

.blokk-label {
	background-color: #242424;
}

article.kiharapott-cim .cikkcim a, .normal-vezeto-blokk .hasab-3 article:not(.no-img) .cikkcim a, .nagykepes-vezeto-blokk .hasab-2 article:not(.no-img) .cikkcim a, .kisero-blokk article:not(.no-img) .cikkcim a {
    box-shadow: 7px 0 0 #242424, -7px 0 0 #242424;
    background-color: #242424;
    color: white;
}

.rovatok li {
    border-color: #242424 !important;
}

.medialepedo-blokk .hasab-1 .video .cikkcim a {
    background-color: #242424;
    box-shadow: 10px 0 0 #242424, -10px 0 0 #242424;
    color: white;
}

.medialepedo-blokk .hasab-1 .video .cikkcim a:hover {
    background-color: #242424;
    box-shadow: 10px 0 0 #242424, -10px 0 0 #242424;
    color: #f90;
}

.index2-vezeto-blokk-container .index2-allokepes-vezeto-blokk {
    background-color: #242424;
}

.index2 {
    background-color: #242424;
    border-color: transparent;
}

.index2-header .uj-cikkek-link {
    background-color: #4f5456;
}

.index2-header .header-hasab-bal .trending-topics li {
    background-color: transparent;
}

.index2-also-negyhasabos-blokk .blokk-hasab {
    background-color: #242424;
}

.index2-also-negyhasabos-blokk article:not(.no-img) .img-container>.cim.cim-cimke .cikkcim a {
    color: white;
}

.index2-also-negyhasabos-blokk article:not(.no-img) .img-container>.cim.cim-cimke .cikkcim a:hover {
    color: #f90;
}

.index2-doboz .index2-atvezetes {
    background-color: transparent;
    box-shadow: none;
    border-color: transparent;
}

.index2-kuzdoter-atvezetes-wrapper .ruler {
    color: transparent;
    border-color: transparent;
}

.index2-kuzdoter-atvezetes-wrapper .ruler span {
    background-color: transparent;
}

.totalcar-header, .divany-header {
    border-color: transparent;
}

#pp-posts-container, .bom_container {
    background-color: #4f5456;
}

body #bestofpp-box p {
    background-color: #242424;
    box-shadow: 0px 2px #242424;
}

.post-title {
    background-color: #242424;
}

.pp-post .mindenkozben_post-content::before {
    border-color: transparent #242424 transparent transparent;
}

#pp-box .bottom-transition {
        background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, #242424 100%);
}

.cikkgyujto-pp-container, .normal-vezeto-blokk, .kisero-blokk, .nagykepes-vezeto-blokk, .dupla-vezeto-blokk, .szupervezeto-blokk, .medialepedo, .cikkgyujto-pp-container, .divany-header, .divany-footer, .totalcar-header, .napi-doboz, .inforadio-doboz, .travelo-doboz, .porthu-doboz, .index2, .medialepedo-blokk, .kepes-3-blokk, .nagykepes-vezeto-harmas-blokk, .nagykepes-vezeto-harmas-blokk-2, .kisero-medialepedo-blokk, .container.border, div#_iph_cp_popup>div.border {
    background-color: transparent;
}

.post-content {
    background-color: transparent;
    border-color: transparent;
}

.medialepedo-blokk .hasab-1 .video:before, .kisero-medialepedo-blokk .hasab-1 .video:before, .kisero-medialepedo-blokk .hasab-2 .video:before {
    border-color: #4f5456;
}

.totalcar-header .trending-topics, .velvet-header .trending-topics, .divany-header .trending-topics {
    background-color: transparent;
}

.totalcar-header .uj-cikkek-link, .velvet-header .uj-cikkek-link, .divany-header .uj-cikkek-link, .femina-header .uj-cikkek-link {
    background-color: #4f5456;
}

.divany-doboz .kiemelt-keretes {
    background-color: #4f5456;
}

.totalcar-doboz.normal-vezeto-blokk, .velvet-doboz.normal-vezeto-blokk, .divany-doboz.normal-vezeto-blokk {
    background-color: #4f5456;
}

.divany-header, .divany-footer, .totalcar-header, .portfolio.container.border, div#_iph_cp_popup>div.portfolio.border, .portfolio.container.border .blokk {
    background-color: #4f5456;
}

.header-parts * {
    border-color: transparent !important;
}

article.otthonterkep {
    background-color: #242424;
    border-color: #242424;
}

.napihu.container, .napihu-vezeto-blokk-container .blokk, .napihu-fejlec-blokk-container .blokk {
    background-color: #242424;
}

.napi-header .trending-topics, .napihu-header .trending-topics, .portfolio-header .trending-topics, .otthonterkep2-header .trending-topics, .inforadio-header .trending-topics, .femina-header .trending-topics {
    background-color: transparent;
}

.napihu-doboz .kiemelt-szines, .napihu-doboz .kiemelt-szines.fekete {
    background-color: transparent;
    border-color: #4f5456;
}

.napi-header .trending-topics li a, .napihu-header .trending-topics li a, .portfolio-header .trending-topics li a, .otthonterkep2-header .trending-topics li a, .otthonterkep2-header .trending-topics li span, .inforadio-header .trending-topics li a, .femina-header .trending-topics li a {
    border-color: #242424;
}

.velvet.container.border, div#_iph_cp_popup>div.velvet.border {
    background-color: #242424;
}

.velvet-doboz.kilences-normal-vezeto-blokk .hasab-2 article.kiemelt-keretes .cikkcim a {
    color: white;
}

.otthonterkep2.container.border, div#_iph_cp_popup>div.otthonterkep2.border {
    background-color: transparent;
}

.m-page-footer {
    background-color: #242424;
    border-color: #4f5654;
}

.napi-header, .napihu-header, .inforadio-header, .femina-header {
    border-color: #4f5654;
}

.container {
    background-color: #242424;
}

.author-share-date .megoszt {
    display: none;
}

.related_box__wrapper {
    border-color: #4f5654;
}

.scroll-shadow:before, .scroll-shadow:after {
	background: linear-gradient(0deg, rgba(255,255,255,0) 24px, #242424);
}

.scroll-shadow:after {
	background: linear-gradient(0deg, #242424 24px, rgba(255,255,255,0));
}

.dupla-vezeto-blokk .hasab-2 article.kiharapott-cim.vezeto-anyag .cikkcim a {
	box-shadow: 16px 0 0 #242424, -15px 0 0 #242424;
}

.linkpreview_box {
    border-color: #4f5654;
    color: white;
}

.linkpreview_box_textcont_text_hl a {
    color: white !important;
}

.c-article-block.titleInline .c-article-block_title_link {
	box-shadow: 7px 0 0 #242424, -7px 0 0 #242424;
    background-color: #242424;
}

.l-container-full {
    background-color: #242424;
}

.c-article-block.titleOverlay .c-article-block_title_link {
    color: #f90;
}

.porthu-doboz-new.normal-vezeto-blokk .kiemelt-szines {
    background: transparent;
}

.tulelokeszlet .tools-box {
    background-image: none;
}

.markabiztonsagi-nyilatkozat_container p {
    background-color: #4f5654;
    color: white;
}

.m-automatic-file-snippet_footer {
    background-image: none !important;
    color: white;
}

.m-automatic-file-snippet_list_item_content_title, .m-automatic-file-snippet_header_title_link {
    color: white !important;
}

.m-automatic-file-snippet_footer_button {
    background-color: transparent;
}

.btn-pass.akta-follow-button, .btn-pass.akta-follow-button.backgroundWhite {
    background-color: transparent !important;
}

.eyecatcher_long>div, .kiemelt-alahuzott>div, .eyecatcher_long>span, .kiemelt-alahuzott>span {
    color: white;
}

.cimke-rovat-light, .cimke-rovat-light.selected, .cimke-rovat, .cimke-napi {
    color: #242424;
}

.t-video-cover {
	background-color: transparent;
}

.m-tag-list_item_tag {
    color: #242424 !important;
}

article.velemeny-anyag {
    background-color: #4f5654;
}

body.cikk.blog {
    background: #242424;
}

.m-page-footer.schemeLight {
    background: transparent;
}

html {
    background: #242424;
}

.rovat_mindekozben .cikk-torzs ul.current-post .pp-post, .rovat_mindekozben .cikk-torzs ul.main .pp-post {
    background: #4f5654;
    color: white;
}

.rovat_mindekozben .pp-post .name a {
    color: white;
}

.rovat_mindekozben .pp-post .content {
    background: #242424;
}

.rovat_mindekozben .pp-post .mindenkozben_post_content::before {
    border-color: transparent #242424 transparent transparent;
}

.rovat_mindekozben .pp-post .content .title a {
    color: white;
}

.cikk-torzs .szerkfotoimage .keret img {
    outline-color: transparent;
}

.rovat_mindekozben header:not(.c-file-snippet-miniapp_content_header) {
    background: black;
}

.rovat_mindekozben ul.current-post {
    padding-top: 0;
}

.pepe .kereses-urlap .kereses-wrapper input, .kereses-urlap input[type="search"], .kereses-urlap input[type="text"], .kereses-urlap input[type="search"]:focus, .kereses-urlap input[type="search"]:active, .kereses-urlap input[type="search"].active, .kereses-urlap input[type="text"]:focus, .kereses-urlap input[type="text"]:active, .kereses-urlap input[type="text"].active, .chosen-container-single .chosen-single {
    border-color: #4f5654;
    background-color: transparent;
}

.nagykep .kepala .szoveg {
    color: white;
}

.kereses-talalati-lista, .kereses-talalati-lista article header a, .kereses-talalati-lista article header .h24ora-csoki {
    background: transparent;
}

.kereses-talalati-lista article header:before {
    display: none;
}

.datumcsik {
    background: transparent;
}

.rovat-cikk-head .cikk-date-label {
    background: #242424;
}

.rovatajanlo.keppel.normal .cim {
    background: #242424;
    color: white;
    box-shadow: 7px 0 0 #242424, -7px 0 0 #242424;
}

.rovatajanlo.vezeto h1 a {
    color: black;
}

.rovatajanlo.vezeto h1 a:hover {
    color: #f90;
}

.subnavigation-wrapper:after, .subnavigation-wrapper:before {
    background: none;
}

.box h4 {
    background: #4f5654;
    border-color: #4f5654;
}

.cikk-torzs .keretes {
    border: 1px solid #4f5654;
    border-left: 4px solid #f90;
}

#content .cikk-torzs .keretes h3 {
    color: white;
}

h3, li {
    color: white;
}

.t-article-info_container_share, .e-facebook-widget-box {
    background-color: transparent;
}

.c-human_details_infos_name {
    color: white !important;
}

.m-suggestions_list_item:before, .m-suggestions_list_item:after {
    background-color: transparent;
}

.bcs-ajanlo {
    color: white;
}

.bcs-main-container {
    box-shadow: inset 0 0 0 1px #4f5654;
}

.totalcar-doboz.normal-vezeto-blokk .hasab-3 .tc-anyag-kek .cikkcim a {
    box-shadow: 7px 0 0 transparent, -7px 0 0 transparent;
}

.newsletter_modal .newsletter-content {
    background: #242424
}

.cikk-torzs tr:nth-child(odd):not(.sr-wc-team-highlight__table-header-wrapper):not(.sr-wc-team-highlight__table-row):not(.sr-livetable__tableRow) {
	background: #4f5654;
}

.pp-post tr:first-child:not(.sr-wc-team-highlight__table-header-wrapper):not(.sr-wc-team-highlight__table-row):not(.sr-livetable__tableRow), .cikk-torzs tr:first-child:not(.sr-wc-team-highlight__table-header-wrapper):not(.sr-wc-team-highlight__table-row):not(.sr-livetable__tableRow) {
    background: darkgrey;
    color: white;
}

.cikk-torzs tr:nth-child(even):not(.sr-wc-team-highlight__table-header-wrapper):not(.sr-wc-team-highlight__table-row):not(.sr-livetable__tableRow) {
    background: #242424;
}

.cikk-torzs table.itabla, .pp-post table.itabla {
    border: 1px solid #4f5654;
    border-top: 0px solid transparent;
}

.cikk-torzs table.itabla caption, .pp-post table.itabla caption {
    margin-top: 0.5rem;
    padding: 1rem 0;
    background: darkgrey;
    color: #242424;
    border: 1px solid #4f5654;
    border-bottom: 0px solid transparent;
    font-weight: bold;
}

.m-kepkuldes-box_wrapper {
    background: #4f5654;
}

.article__description, .article__title-link {
    color: white;
}

.article--featured .article__title-link {
    box-shadow: 10px 0 0 #242424, -10px 0 0 #242424;
    background: #242424;
}

.content_wrapper .cikkek_wrapper .cikk .cikkdatum {
    background: #242424;
    color: #f90;
}

.nevjegy {
    background: #242424;
    border: 1px solid #4f5654;
}

.nev_poszt h1 {
    color: #f90;
}

#talalatok {
    background: #242424;
}

.m-cf-search_wrapper_container {
    background: #242424;
}

.m-cf-search_wrapper_container_form_input {
    color: white;
}

.blokk .szerzok {
    background: #242424;
}
